body {
  margin: 0;
  padding: 0;
}

.row-header{
  display: flex;
  justify-content: center;
}

.cont-card{
  width: 480px;
  background: blue;
  margin: auto;
  border-radius: 12px;
}

.cont-img-dog img{
  width: 100%;
  height: 300px;
  background: red;
}

.cont-desc{
  padding: 21px 20px;
}

.cont-btns {

}
